<div class="sidebar-tree">
  {{ furo_navigation_tree }}
  {%- if show_source and has_source and sourcename %}
  <div role="note" aria-label="source link">
    <hr width="90%">
    <ul style="padding:0">
      <li class="toctree-l1"
	  ><a style="padding-left:20px"
	      href="{{ pathto('_sources/' + sourcename, true)|e }}"
              rel="nofollow">{{ _('Show Source') }}</a></li>
    </ul>
    <hr width="90%">
   </div>
{%- endif %}
</div>
